body {
    color: red;
    background: skyblue;
}

.heading {
    width: 80%;
    font-size: 50px;
}

#camera {
    border: 2px dashed green;
    width: 350px;
    height: 300px;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color: red;
}